---
layout: null
permalink: /partials/account/
---

<!--signup-panel-->
<section>
  <!--counter-->
  <div>
    <div class="signup-counter">
      <h2 class="signup-counter-count">00</h2>
      <span>members</span>
      <h3>Join Others for a Better Naijav</h3>
    </div>
  </div><!--/counter-->

  <!--preview panel-->
  <div id="preview-panel" class="panel-group">

    <!--signup-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#preview-panel-collapse-1" data-toggle="collapse",
          data-parent="#preview-panel"> Signup</a>
        </h4>
      </div>
      <div id="preview-panel-collapse-1" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="col-md-6">
            <form>
              <input type="text" class="form-control" placeholder="Username">
              <input type="email" class="form-control" placeholder="Email Address">
              <input type="password" class="form-control" placeholder="Password">
              <input type="submit" class="btn btn-primary" value="Signup">
            </form>
          </div>
          <div class="col-md-6 hidden-sm hidden-xs signup-panel-tips">
            <p>Why should I signup?</p>
            <ul>
              <li><i class="fa fa-check"></i> Help beta-testing Naijav</li>
              <li><i class="fa fa-check"></i> Automatic updates for Naijav</li>
              <li><i class="fa fa-check"></i> Your feedback is first-priority</li>
              <li><i class="fa fa-check"></i> Be a friend of Forfuture | FOSS</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--/signup-->

    <!--login-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#preview-panel-collapse-2" data-toggle="collapse",
          data-parent="#preview-panel"> Login</a>
        </h4>
      </div>
      <div id="preview-panel-collapse-2" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-md-6">
            <form>
              <input type="text" class="form-control" placeholder="Username">
              <input type="password" class="form-control" placeholder="Password">
              <input type="submit" class="btn btn-primary" value="Login">
            </form>
          </div>
          <div class="col-md-6 hidden-sm hidden-xs signup-panel-tips">
            <p>Your are welcome to:</p>
            <ul>
              <li><i class="fa fa-check"></i> Update notification settings</li>
              <li><i class="fa fa-check"></i> Leave some feedback</li>
              <li><i class="fa fa-check"></i> Opt out of beta testing! (so sad)</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--/login-->

  </div><!--/preview panel-->
</section><!--/signup-panel-->
