---
layout: null
permalink: /partials/user/
---

<div>

  <!--Preferences-->
  <section class="row user-content-container">
    <h3 class="user-content-heading">Preferences</h3>

    <!--email updates-->
    <div>
      <div class="col-md-10">
        <p>Receive email updates</p>
      </div>
      <div class="col-md-2">
        <input type="checkbox" data-toggle="switch" checked>
      </div>
    </div>

  </section><!--/Preferences-->

  <!--Feedback-->
  <section class="row user-content-container">
    <h3 class="user-content-heading">Feedback</h3>
    <div class="col-md-12">
      <p>While we provide a form here for providing feedback, we really suggest you use our <a href="https://github.com/forfuture-dev/naijav/issues">Github issue tracker</a> to for better tracking and response. But if you feel like that is such a task, please fill the form below.</p>
      <form>
        <textarea name="feedback" placeholder="Tell us what you think and feel..." class="form-control"></textarea>
        <input type="submit" class="btn btn-primary" value="Let us know">
      </form>
    </div>
  </section><!--/Feedback-->

</div>

<script>
  $("input[type='checkbox']").bootstrapSwitch({
    size: "mini"
  });
</script>
