language: node_js

node_js:
  - "0.11"
  - "0.10"

script: "npm test"

# will use this `after_script` for test coverage
# after_script: "NODE_ENV=test npm install coveralls mocha-lcov-reporter && ./node_modules/.bin/istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage"
